[user]
	email = {{ git_mail }}
	name = {{ git_name }}

[color]
  diff = auto

[alias]
  co = checkout
  ci = commit
  st = status
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative

[core]
	editor = vim
